$white: #ffffff;
$black: #000000;
$light-grey: #e5e5e5;
$grey: #a4a3a3;
$dark-grey: #5d5d5d;

$corporate-background: #1bbfc6;
$corporate: #0ca8ad;
$corporate-light: #1bbfc6;
$corporate-ultra-light: #2ec5ca;
$corporate-white: #7ff9fe;

$corporate-gradient: linear-gradient(to left, #53e1e1 0%, #15caca 100%);
$corporate-gradient-dark: linear-gradient(to left, #00acc5 0%, #00babf 100%);

$warning: #ff0000;
$warning-light: #fb3f3f;

$h1: 40;
$h2: 32;
$h3: 28;
